<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-do List</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">To-do List</a></h1>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'auth' %}">Авторизация</a>
        {% else %}
            <a href="{% url 'completed_tasks' %}">Выполненные задачи</a>
            <a href="{% url 'tags' %}">Теги</a>
            <a href="{% url 'logout' %}">Выход</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}{% endblock content %}
</body>
</html>